<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home page</title>
    <link rel="preconnect" href="https://www.google.com">

    <link rel="preconnect" href="https://www.google.com" crossorigin>

    <link href="https://www.google.com/imgres?imgurl=https://marketplace.canva.com/EAFF7OHKiKo/1/0/1600w/canva-beige-and-brown-aesthetic-baby-photo-collage-2YRKhYf9GIY.jpg&tbnid=WyoTTyDWLCxFnM&vet=1&imgrefurl=https://www.canva.com/photo-collages/templates/baby/&docid=gpV8uNW0SWZj_M&w=1600&h=1280&itg=1&hl=en-IN&source=sh/x/im/2&safe=active&ssui=on" rel="stylesheet">

    <link rel="stylesheet" href="home.component.css">

</head>

<body>

   

 <div class="bg">
    <div class="kc">KidosCare




        <a href="/home">Home</a>




        <a href="/login">Buy Product</a>




        <a href="/login">Sell Product</a>




        




        <a href="/contact">Contact</a>

       

    </div>




     <div class="content">

        <br> <h1>Welcome to "Kidos Care App"</h1>

        

           <p>Customer can buy the baby products by visiting the online website, you can find the differnt types of products
            used for the babies ,as we know the babies skin is too soft if we use any products with some chemicals it will show effect to babies
            skin condition so ,in our website we will concentrate on this point and restrict the products with chemicals will sell the natural products.
            
              </p>





<br><br>
<a class="button" routerLink="/login"><span></span>Login</a>




              <a class="button" routerLink="/register"><span></span>Register</a>




   

       

      </div>

</div>




</body>

</html>
